.c-footer {
	display: none;
	@include respond-max($bp-desktop - 0.2) {
		width: 100%;
		max-width: 100%;
	}

	.wrapper {
		padding: rem(42) rem(28);
		@include respond-min($bp-desktop) {
			padding: rem(28);
		}
	}
}

