.b-nav {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: rem(240);
	background-color: $nav-background;

	.wrapper {
		padding-top: rem(43);
		padding-bottom: rem(24);

	}
}

.b-nav__logo {
	font-family: $font-logo;
	padding-bottom: rem(45);

	& .logo {
		margin: 0;
		font-size: rem(27);
		color: $white;

		&--orange {
			color: $yellow;
		}

		&--cloud {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: rem(5);
				background-color: $orange;
				border-radius: rem(10);
				top: rem(3);
			}

			&::after {
				content: '';
				position: absolute;
				width: rem(9);
				height: rem(9);
				background-color: $orange;
				border-radius: 50%;
				left: 50%;
				transform: translateX(-50%);
				top: rem(-1);
			}

		}
	}
}

.b-nav__list {
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style: none;

	> li:last-child a {
		padding-bottom: 0;
	}

}

.b-nav__item {
	position: relative;
	display: flex;
	width: 100%;

	&::before {
		content: '';
		position: absolute;
		left: rem(-40);
		width: rem(10);
		height: 100%;
		background-color: $white;
		border-top-right-radius: rem(20);
		border-bottom-right-radius: rem(20);
		transform: translateX(rem(-10));
		transition: transform 0.15s ease-in-out;
	}

	&:hover::before {
		transform: translateX(0);
	}
}

.b-nav__link {
	display: flex;
	align-items: center;
	max-width: 100%;
	flex: 1;
	padding: rem(21.2) 0;

	span {
		text-align: left;
	}
}

.b-nav__icon {
	min-width: rem(25);
	width: rem(25);
	height: rem(25);
	margin-right: rem(25);
}

.b-nav__button {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	flex: 1;
	padding: rem(10) rem(38) rem(40) rem(45);



	.menu {
		opacity: 0;
		transform: translateY(30%);
		width: 100%;
		overflow: hidden;
		transition: opacity 0.25s ease-in-out,
					transform 0.25s ease-in-out;

		&.active {
			opacity: 1;
			transform: translateY(0);
		}
		&__list {
			position: relative;
			padding: rem(25) rem(15);
			margin: 0;
			margin-bottom: rem(25);
			list-style: none;
			border-radius: rem(20);
			background-color: $purple;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: rem(30);
				width: 0;
				height: 0;
				border: rem(8) solid transparent;
				border-top-color: $purple;
				border-bottom: 0;
				margin-left: rem(-8);
				margin-bottom: rem(-8);
			}

			> li:first-child a {
				padding-top: 0;
			}

			> li:last-child a {
				padding-bottom: 0;
			}

			.b-nav__icon {
				min-width: rem(20);
				width: rem(20);
				height: rem(20);
				margin-right: rem(5);
			}

			.b-nav__link {
				color: $gray;
				font-size: rem(12);
				padding: rem(5) 0;

				&:hover {
					color: $white;
				}
			}
		}
	}
}
