html {
	font-size: 100%;
}

html, body {
	@include font-smoothing(antialiased);
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	min-width: $body-min-width;
	background-color: $body-color;
	color: $text-color;
	font-size: rem($font-size-base);
	font-family: $font-body;
	line-height: $line-height-base;
	font-style: normal;

	@media only screen and (max-width: 319px) {
		width: 320px;
	}
}

.c-container {
	display: flex;
	max-width: rem($container-max-width);
	max-height: rem($container-max-height);
	width: 80%;
	height: 90%;
	margin: auto;
	border-radius: 50px;
    overflow: hidden;
    perspective: 1px;
	background-color: inherit;

	> * {
		height: 100%;
	}
}

::selection {
	background: $selection-color;
	color: $selection-text-color;
}

:focus {
	outline-color: $outline-color;
}

*::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}

*::-webkit-scrollbar-track {
	background: $scrollbar-track-color;
}

*::-webkit-scrollbar-thumb {
	background: $scrollbar-thumb-color;
}

*::-webkit-scrollbar-thumb:hover {
	background: $scrollbar-thumb-hover-color;
}
