$font-logo: 'Lexend Deca', 'Times New Roman', serif;
$font-head: 'Raleway', 'Helvetica', 'Arial', sans-serif;
$font-body: 'Raleway', 'Helvetica', 'Arial', sans-serif;
$font-size-base: 16;
$line-height-base: 1.5;
$body-min-width: 320px;
$max-width: 1200px;
$container-max-width: 1440;
$container-max-height: 1078;
$footer-width: 27;
$footer-max-width: 400;

// COLORS
$blue: #6a9ff8;
$orange: #ff7f35;
$purple-light: #8d909d;
$purple: #464b61;
$purple-dark: #343951;
$yellow-light: #ffb333;
$yellow: #ffa000;
$green: #4ac49e;
$red: #ff655e;
$white: #fff;
$off-white: #f5f6fb;
$gray-light: #e4e4e7;
$gray: #bbbeca;
$gray-dark: #767b8e;
$black: #000;


$bp-mini: 540;
$bp-phone: 767;
$bp-tablet: 991;
$bp-desktop: 1200;

$body-color: $white;
$heading-color: $purple-dark;
$text-color: $purple-light;
$video-related-color: $blue;
$files-related-color: $yellow;
$images-related-color: $green;
$other-related-color: $purple-light;
$link-color: $gray-dark;
$link-color-hover: $white;
$selection-color: $yellow;
$selection-text-color: $purple;
$outline-color: $yellow;
$scrollbar-track-color: $purple-light;
$scrollbar-thumb-color: $purple;
$scrollbar-thumb-hover-color: $purple-dark;
$nav-background: $purple-dark;
$main-background: $off-white;
$aside-background: $off-white;
