<div class="b-recent-files">
	<div class="heading-container">
		<h2 class="heading-container__heading h2">Recent Files</h2>
		<div class="heading-container__heading-actions">
			<button class="heading-container__heading-action">
				View All
			</button>
		</div>
	</div>
	<div class="b-recent-files__headings">
		<h5 class="b-recent-files__heading">Name ↓</h5>
		<h5 class="b-recent-files__heading">Owners</h5>
		<h5 class="b-recent-files__heading">Last Modified</h5>
	</div>
	<div class="b-recent-files__file file">
		<div class="file__icon">
			<img src="./assets/images/icon-ps.png" alt="">
			<span class="u-visually-hidden">File folder icon</span>
		</div>

		<h3 class="file__heading">Travel Landing Page</h3>
		<p class="file__owners">5 members</p>
		<p class="file__modified">Mar 8, 2020</p>
		<button class="file__action">
			<svg>
				<use xlink:href="./assets/images/svg/sprite/sprite.svg#more-horizontal"></use>
			</svg>
			<span class="u-visually-hidden">File action</span>
		</button>
	</div>
	<div class="b-recent-files__file file">
		<div class="file__icon">
			<img src="./assets/images/icon-photo.png" alt="">
			<span class="u-visually-hidden">File folder icon</span>
		</div>

		<h3 class="file__heading">Ture Photos</h3>
		<p class="file__owners">12 members</p>
		<p class="file__modified">Mar 8, 2020</p>
		<button class="file__action">
			<svg>
				<use xlink:href="./assets/images/svg/sprite/sprite.svg#more-horizontal"></use>
			</svg>
			<span class="u-visually-hidden">File action</span>
		</button>
	</div>
	<div class="b-recent-files__file file">
		<div class="file__icon">
			<img src="./assets/images/icon-pdf.png" alt="">
			<span class="u-visually-hidden">File folder icon</span>
		</div>

		<h3 class="file__heading">Dashboard Structure</h3>
		<p class="file__owners">10 members</p>
		<p class="file__modified">Mar 9, 2020</p>
		<button class="file__action">
			<svg>
				<use xlink:href="./assets/images/svg/sprite/sprite.svg#more-horizontal"></use>
			</svg>
			<span class="u-visually-hidden">File action</span>
		</button>
	</div>
	<div class="b-recent-files__file file">
		<div class="file__icon">
			<img src="./assets/images/icon-zip.png" alt="">
			<span class="u-visually-hidden">File folder icon</span>
		</div>

		<h3 class="file__heading">Character Illustration</h3>
		<p class="file__owners">3 members</p>
		<p class="file__modified">Mar 9, 2020</p>
		<button class="file__action">
			<svg>
				<use xlink:href="./assets/images/svg/sprite/sprite.svg#more-horizontal"></use>
			</svg>
			<span class="u-visually-hidden">File action</span>
		</button>
	</div>
</div>
