<div class="b-recently-used">
	<div class="heading-container">
		<h2 class="heading-container__heading h2">Recently Used</h2>
		<div class="heading-container__heading-actions">
			<button class="heading-container__heading-action">
				<svg>
					<use xlink:href="./assets/images/svg/sprite/sprite.svg#grid"></use>
				</svg>
				<span class="u-visually-hidden">Grid view</span>
			</button>
			<button class="heading-container__heading-action">
				<svg>
					<use xlink:href="./assets/images/svg/sprite/sprite.svg#align-justify"></use>
				</svg>
				<span class="u-visually-hidden">List view</span>
			</button>
		</div>
	</div>
	<div class="projects">
		<div class="b-recently-used__project project project--big">
			<div class="project__icons">
				<img src="./assets/images/icon-double-folder.png" alt="" class="project__icon">
				<span class="u-visually-hidden">Project folder icon</span>
				<ul class="project__participants">
					<li><img class="project__participant" src="./assets/images/face1.jpg" alt="Participant icon"></li>
					<li><img class="project__participant" src="./assets/images/face2.jpg" alt="Participant icon"></li>
				</ul>
			</div>

			<h3 class="project__heading">App Project</h3>
			<p class="project__sub-heading">Created: 20.02.2020.</p>
			<button class="project__action">
				<svg>
					<use xlink:href="./assets/images/svg/sprite/sprite.svg#more-vertical"></use>
				</svg>
				<span class="u-visually-hidden">Project action</span>
			</button>
		</div>
		<div class="b-recently-used__project project project project--big">
			<div class="project__icons">
				<img src="./assets/images/icon-double-folder.png" alt="" class="project__icon">
				<span class="u-visually-hidden">Project folder icon</span>
				<ul class="project__participants">
					<li><img class="project__participant" src="./assets/images/face1.jpg" alt="Participant icon"></li>
					<li><img class="project__participant" src="./assets/images/face2.jpg" alt="Participant icon"></li>
				</ul>
			</div>

			<h3 class="project__heading">Project: fitbit</h3>
			<p class="project__sub-heading">Created: 20.02.2020.</p>
			<button class="project__action">
				<svg>
					<use xlink:href="./assets/images/svg/sprite/sprite.svg#more-vertical"></use>
				</svg>
				<span class="u-visually-hidden">Project action</span>
			</button>
		</div>
		<div class="b-recently-used__project project project project--big">
			<div class="project__icons">
				<img src="./assets/images/icon-double-folder.png" alt="" class="project__icon">
				<span class="u-visually-hidden">Project folder icon</span>
				<ul class="project__participants">
					<li><img class="project__participant" src="./assets/images/face1.jpg" alt="Participant icon"></li>
					<li><img class="project__participant" src="./assets/images/face2.jpg" alt="Participant icon"></li>
					<li class="project__more-participants u-flex-centered">+3</li>
				</ul>
			</div>

			<h3 class="project__heading">Clint Documents</h3>
			<p class="project__sub-heading">Created: 20.02.2020.</p>
			<button class="project__action">
				<svg>
					<use xlink:href="./assets/images/svg/sprite/sprite.svg#more-vertical"></use>
				</svg>
				<span class="u-visually-hidden">Project action</span>
			</button>
		</div>
	</div>
</div>
