<div class="b-shared-with-me">
	<div class="heading-container">
		<h2 class="heading-container__heading h2">Shared with me</h2>
		<div class="heading-container__heading-actions">
			<button class="heading-container__heading-action">
				View All
			</button>
		</div>
	</div>
	<div class="projects">
		<div class="b-shared-with-me__project project">
			<div class="project__icons">
				<img src="./assets/images/icon-single-folder.png" alt="" class="project__icon">
				<span class="u-visually-hidden">Project folder icon</span>
				<ul class="project__participants">
					<li><img class="project__participant" src="./assets/images/face1.jpg" alt="Participant icon"></li>
					<li><img class="project__participant" src="./assets/images/face2.jpg" alt="Participant icon"></li>
				</ul>
			</div>

			<h3 class="project__heading">Landing Page</h3>
			<p class="project__sub-heading">12 Files</p>
		</div>

		<div class="b-shared-with-me__project project">
			<div class="project__icons">
				<img src="./assets/images/icon-single-folder.png" alt="" class="project__icon">
				<span class="u-visually-hidden">Project folder icon</span>
				<ul class="project__participants">
					<li><img class="project__participant" src="./assets/images/face1.jpg" alt="Participant icon"></li>
					<li><img class="project__participant" src="./assets/images/face2.jpg" alt="Participant icon"></li>
					<li><img class="project__participant" src="./assets/images/face3.jpg" alt="Participant icon"></li>
				</ul>
			</div>

			<h3 class="project__heading">Illustration Pack</h3>
			<p class="project__sub-heading">24 Files</p>
		</div>

		<div class="b-shared-with-me__project project">
			<div class="project__icons">
				<img src="./assets/images/icon-single-folder.png" alt="" class="project__icon">
				<span class="u-visually-hidden">Project folder icon</span>
				<ul class="project__participants">
					<li><img class="project__participant" src="./assets/images/face1.jpg" alt="Participant icon"></li>
					<li><img class="project__participant" src="./assets/images/face2.jpg" alt="Participant icon"></li>
				</ul>
			</div>

			<h3 class="project__heading">CV Design</h3>
			<p class="project__sub-heading">0 Files</p>
		</div>
	</div>
</div>
