.b-recent-files {

	.heading-container {
		margin-bottom: rem(15);

		&__heading-action {
			font-size: rem(15);
			letter-spacing: 0.4px;
			padding-bottom: rem(5);
		}
	}

	&__headings {
		display: flex;
		align-items: center;
		margin-bottom: rem(24);
	}

	&__heading {
		flex: 1 auto;
		max-width: 25%;
		font-size: rem(15);
		color: $purple-light;
		font-weight: 400;

		&:first-of-type {
			flex: 2 auto;
			max-width: 50%;
		}
	}

	&__file {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: rem(15);
		padding: rem(18);
		background-color: $white;
		border-radius: rem(15);

		p {
			margin: 0;
		}
	}

	.file__icon {
		width: rem(30);
		height: rem(30);
		margin-right: rem(15);

		img {
			width: 100%;
			height: 100%;
		}
	}

	.file__heading {
		flex: 1 auto;
		max-width: 50%;
		font-size: rem(16);
		font-weight: 500;
	}

	.file__owners {
		flex: 1 auto;
		max-width: 25%;
	}

	.file__modified {
		flex: 1 auto;
		max-width: 25%;
		padding-left: rem(10);
	}

	.file__action {
		position: absolute;
		right: rem(15);
		top: 1.25rem;
		display: inline-flex;
		align-items: center;
		margin: 0;
		border: 0;
		background: transparent;
		opacity: 0.6;

		svg {
			width: rem(24);
			height: rem(24);
		}
	}
}
