.b-search {
	position: relative;
	width: 100%;
}

.b-search__icon {
	position: absolute;
	top: 50%;
	left: rem(16);
	transform: translateY(-50%);
	width: rem(22);
	height: rem(22);
	// padding-top: rem(5);
}

.b-search__input {
	display: flex;
	align-items: center;
	width: 100%;
	padding: rem(12);
	padding-top: rem(15);
	padding-left: rem(45);
	font-size: rem(13);
	border: 0;
	border-radius: rem(8);
}
