.b-storage {

	.wrapper {
		padding-left: rem(45);
		padding-right: rem(35);
		padding-top: rem(22);
	}

	&__heading {
		margin-bottom: rem(64);
	}
}

.b-storage__usage-graph {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: rem(50);

	.arc {
		position: absolute;
		width: rem(208);
		top: 50%;
		transform: translateY(-50%);
		// left: rem(-20);
		fill: transparent;

		circle {
			fill: transparent;
			stroke-linecap: round;
			stroke-width: rem(7);
		}

		&--docs {
			stroke-dasharray: 570.8 570.8;
			stroke-dashoffset: 371.02;
			transform: rotate(-32deg);
			transform-origin: center;
			stroke: $yellow;
		}

		&--videos {
			stroke-dasharray: 570.8 570.8;
			stroke-dashoffset: 439.516;
			transform: rotate(176.4deg);
			transform-origin: center;
			stroke: $blue;
		}

		&--images {
			stroke-dasharray: 570.8 570.8;
			stroke-dashoffset: 492.888;
			transform: rotate(269deg);
			transform-origin: center;
			stroke: $green;
		}

		&--others {
			stroke-dasharray: 570.8 570.8;
			stroke-dashoffset: 472.056;
			transform: rotate(104.4deg);
			transform-origin: center;
			stroke: $gray;
		}
	}

	.usage-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: rem(150);
		height: rem(150);
		font-size: rem(28);
		color: $gray-dark;
		background: $white;
		border-radius: 50%;

		.usage-percent {
			display: flex;
			align-items: center;
			font-size: rem(45);
			color: $purple-dark;
			font-weight: bold;

			.usage-pct-symbol {
				font-size: rem(30);
				padding-left: rem(5);
			}
		}

		.usage-used {
			font-size: rem(22);
		}
	}

}

.b-storage__space-taken {
	color: $purple-light;
	margin-bottom: rem(35);


	p {
		font-size: rem(14);
		text-align: center;
	}
}


// .b-storage__heading {
// }
.b-storage__space-taken-details {
	display: flex;
	flex-direction: column;
	width: 100%;

	.space-taken-details__item {
		display: flex;
		align-items: center;
		margin-bottom: rem(24);

		.item__image {
			margin-right: rem(8);
		}

		.item__content {
			p  {
				margin: 0;
			}

			.content__title {
				color: $purple-dark;
				font-size: rem(14);
				font-weight: bold;
			}

			.content__files {
				font-size: rem(12);
			}
		}

		.item__space-taken {
			background-color: $white;
			border-radius: rem(10);
			padding: rem(5) rem(14);
			color: $purple-dark;
			font-size: rem(14);
			font-weight: bold;
			margin-left: auto;
		}
	}
}

.b-storage__upgrade-storage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: rem(33);
	padding: rem(30) rem(35);
	background-color: $white;
	border-radius: rem(40);

	.upgrade-storage__image {
		width: 120px;
		background-color: transparent;
	}

	.upgrade-storage__heading {
		font-size: rem(19);
		line-height: 1.6;
		letter-spacing: -0.4px;
		margin-bottom: rem(4);
	}

	.upgrade-storage__subheading {
		font-size: rem(12);
		margin-bottom: rem(15);
	}

	.e-button {
		font-size: rem(15);
		font-weight: 500;
		width: 190px;
		text-align: center;
		padding: rem(16) rem(5) rem(15);
	}
}

